.sec {
    height: 33.33%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-image: url('C:\xampp\htdocs\K-HOUSING\source\K-Housing\public\uploads\properties\test2.jpg');
}

#section1{

}